
table {
 width: 97%;
 margin: 20px 20px 0px 20px;
}
mat-paginator {
  margin: 0px 20px 20px 20px;
}
th {
  font-size: 16px;
  font-weight: 500;
}
ng-container {
  text-align: center;
}
.table-head  {
  margin: 10px;
}
