<p>district works!</p>
<app-header></app-header>
<div id="space">
  <div class="container-fluid">
    <div class="card" style="width: 100%;">
      <div class="container">
        <h1><i class="fa fa-american-sign-language-interpreting fa-3x" aria-hidden="true"> </i> &nbsp;<b>Welcome to COVID-19 Districtwise Update</b></h1>
      </div>
    </div>
    <div class="container content" *ngFor="let district of stateDistrictData">
      <div class="row">
        <div class="col-sm">
          <h2 class="total">{{district.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="getData(district)"
            [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [doughnut]="isDoughnut">
          </ngx-charts-pie-chart>
        </div>
        <div class="col-sm">
          <h2>Confirmed Cases</h2>
          <h2 id="critical">{{district.confirmed}}</h2>
          <h2>Cured Cases</h2>
          <h2 id="recovered">{{district.recovered}}</h2>
        </div>
        <div class="col-sm">
          <h2>Death Cases</h2>
          <h2 id="deaths">{{district.deaths}}</h2>
        </div>
      </div>

    </div>
    </div>
  </div>
